.grid{
    display: flex; 
    border: solid black;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: white;
}


body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}